/*General Styles*/

body {
  text-align: center;
}

table {
  width: 500px;
  margin: auto;
}
table,
th,
td {
  border: solid 2px black;
  border-collapse: collapse;

  text-align: center;
}

tr td:nth-child(1) {
  border-right: none;
  text-align: left;
  padding-left: 1em;
}

tr td:nth-child(2) {
  border-left: none;
  border-right: none;
  text-align: left;
  padding-left: 1em;
}

tr td:nth-child(3) {
  border-left: none;
  text-align: right;
  padding-right: 1em;
}

tr:last-child td {
  text-align: center;
}

tr:last-child td button {
  font-size: large;
  margin-left: 1em;
}

table button {
  background-color: transparent;
  border: none;
  font-size: x-large;
}

table button:hover {
  border: 1px solid black;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

/*id styles*/
#todo_list {
  /*border: 2px solid black;*/
  text-align: center;
}

#todo_list table {
  margin: auto;
  width: 25em;
}

#taskInput {
  width: 25em;
  height: 2em;
  margin-top: 5em;
}

#submitTaskBtn {
  width: 4em;
  height: 2.5em;
}

.completedTask {
  text-decoration: line-through;
  font-weight: bolder;
}
