/*General Styles*/
/*table,
td {
  border: 2px solid black;
}*/

table {
  width: 50em;
}
table,
th,
td {
  border: solid 2px black;
  border-collapse: collapse;

  text-align: center;
}

/*id styles*/
#todo_list {
  /*border: 2px solid black;*/
  text-align: center;
}

#todo_list table {
  margin: auto;
  width: 25em;
}

#taskInput {
  width: 25em;
  height: 2em;
  margin-top: 5em;
}

#submitTaskBtn {
  width: 4em;
  height: 2.5em;
}

.completedTask {
  text-decoration: line-through;
}
