body {
  text-align: center;
  background-image: url(https://media.istockphoto.com/photos/round-podium-or-pedestal-with-blue-background-picture-id1226478932?b=1&k=20&m=1226478932&s=170667a&w=0&h=hXsvxQilNanpKx7QC_tIsFUOKPl8fdIDfJ_QSKXesGE=);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#gui {
  background-color: lightgrey;
  width: 500px;
  margin: auto;
  border: 2px solid black;
  border-radius: 5% 5% 0% 0%;
}

table,
th,
td {
  text-align: center;
  background-color: white;
  margin: auto;
}

th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2em;
}

#formDiv {
  margin-bottom: 1em;
}

#info {
  font-size: 24px;
  cursor: pointer;
}

#info:hover {
  color: red;
  font-size: 30px;
  padding: none;
}
h1 {
  margin-left: 1em;
}
label {
  display: inline-block;
  width: 140px;
  text-align: right;
}
input {
  text-align: left;
  margin-top: 1em;
  height: 2em;
  margin-right: 8em;
}
#timeOfCreation {
  width: 145px;
  margin-bottom: 1em;
}

#userLocation {
  border: 2.5px dashed red;
  padding: 0.5em;
}

.button {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.button {
  border-color: #4eb1f3;
  color: #fff;
  box-shadow: 0 0 40px 40px #4eb1f3 inset, 0 0 0 0 #4eb1f3;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  padding: 1em;
}
.button:hover {
  color: black;
  font-weight: bold;
  box-shadow: 0 0 10px 0 #4eb1f3 inset, 0 0 10px 4px #4eb1f3;
}
